<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" href="<%= operators_path %>" class="brand-logo">Logo</a>
    <ul class="right hide-on-med-and-down">
    </ul>

    <ul id="nav-mobile" class="side-nav" style="transform: translateX(-100%);">
    </ul>
  </div>
</nav>

<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center orange-text">
      <% if params[:operator] %>
        Dronisti di <%= params[:operator].capitalize %>
      <% else %>
        Dronisti.it
      <% end %>
    </h1>
    <div class="row center">
      <h5 class="header col s12 light">Cerca fra centinaia di professionisti del settore</h5>
    </div>
    <div class="row center">
      <div class="input-field col s12">
        <%= form_tag(operators_path, method: :get) do %>
          <%= text_field_tag :operator, params[:operator], class: 'validate center-align search-input', placeholder:'Inserisci una città' %>
        <% end %>
        <!--<input id="first_name2" type="text" class="validate">-->
        <!--<label for="first_name2">inizia la tua ricerca qui!</label>-->
      </div>
    </div>
    <br><br>
  </div>
</div>

<div class="container">
  <div class="row">
     <div class="col s12 m12 l12">
        <div class="card horizontal">
          <div class="card-image">
            <img src="/comp.png">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p><b><%= @operator.name.upcase %></b></p>
              <br>
              <% if @operator.website %>
                <p>Sito web:  <a href="<%= @operator.website.include?('http://') ? @operator.website : 'http://'+@operator.website %>" target="_blank"><%= @operator.website %></a></p>
                <br>
              <% end %>
              <% if @operator.drone_type %>
                <p>Drone: <%= @operator.drone_type %></p>
                <br>
              <% end %>
              <% if @operator.pec %>
                <p>Indirizzo mail: <%= @operator.pec %></p>
                <br>
              <% end %>
              <% if @operator.phone %>
                <p>Telefono: <%= @operator.phone %></p>
                <br>
              <% end %>
              <% if @operator.infos %>
                <p>Informazioni: <%= @operator.infos %></p>
                <br>
              <% end %>
              <% if @operator.address %>
                <p>Luogo: <%= @operator.address %></p>
                <br>
              <% end %>
            </div>
            <div class="card-action">
            </div>
          </div>
        </div>
      </div>
  </div>
  <br><br>
</div>

<footer class="page-footer orange">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Company Bio</h5>
        <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Settings</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
          <li><a class="white-text" href="#!">Link 3</a></li>
          <li><a class="white-text" href="#!">Link 4</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
          <li><a class="white-text" href="#!">Link 3</a></li>
          <li><a class="white-text" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <!--Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>-->
    </div>
  </div>
</footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

<div class="hiddendiv common"></div><div class="drag-target" data-sidenav="nav-mobile" style="left: 0px; touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></div>
